.list {
    display: flex;
}

.link {
    font-size: 36px;
    font-weight: 500;
    color: black;
}

.activeLink {
    font-size: 36px;
    color: #1e88e5;
}

.item:not(:last-child) {
    margin-right: 20px;
}