.container {
margin-top: 100px;
}

.title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 68px;
    color: #1e88e5;
}

.icon {
    display: block;
    margin: 0 auto;
    fill: #b8b1b533;
    width: 300px;
    height: 100%;
}

.text {
    text-align: center;
    margin-top: 40px;
    font-size: 28px;
    color: #201e2033;
}